<div class="row main-content">
	<h5 class="text-center mb-2">Explora y aprende las etapas.</h5>
	<div id="slider-container">
		<div id="slider"></div>

		<div class="range-wrapper">
			<div id="indicators"></div>
			<input type="range" id="slider-control" min="0" max="0" step=".1" />
		</div>

		<!-- tambien funciona con buttons -->
		<!-- <div id="controls">
            <button type="button" id="prevBtn" class="btn-control">Anterior</button>
            <button type="button" id="nextBtn" class="btn-control">Siguiente</button>
        </div> -->
	</div>
</div>
