.image {
  max-width: 17vw;
  width: 50vh;
  height: auto;
}

#img-selects {
  width: max-content;
}

.select-container {
  position: relative;
}

.btn-container.bottom-right {
  position: absolute;
  bottom: 100px;
  right: 0%;
  transform: translate(-50%, 0%);
}
