body {
  position: relative;
  overflow: hidden;
}

.view {
  overflow-y: auto;
  height: 100vh;
}
/* main content */
.main-content {
  padding-top: 50px;
}

/* 
📳 mobile first 📳
*/
/* sidebar */
.sidebar-wrapper {
  font-family: 'EireneSans-Regular';

  position: fixed;
  background-color: var(--bg-primary);
  color: rgb(209, 209, 209);
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
  pointer-events: all;

  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  word-spacing: 0.5px;
  /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); */
}
.sidebar-wrapper.collapsed {
  transform: translateX(-90%); /* Mover el sidebar hacia la izquierda */
  background-color: transparent;
  pointer-events: none;
}

.sidebar-title {
  /* font-family: 'EireneSans-Bold'; */
  font-family: 'Trap-Bold.otf';
  letter-spacing: 0.5px;
  line-height: 1.2;
  word-spacing: 0.8px;

  font-size: 22px;
  /* min-width: 280px; */
  color: var(--color-secondary-opacity50);
}

/* links */
.link-view {
  text-align: left;
  min-width: 280px;
  font-weight: bold;
}
.link-view:hover {
  color: white;
}

/* btn toogle */
.navbar-toggler-btn {
  cursor: pointer; /* Indicar que se puede hacer clic */
  position: absolute;
  width: min-content;
  right: 10px;
  top: 10px;
  z-index: 1001;
}
.sidebar-wrapper.collapsed .navbar-toggler-btn {
  /* transform: rotate(
    180deg
  );  */
}

.main-content p {
  font-family: 'SpaceGrotesk-Regular';
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  word-spacing: 0.2px;
}
.main-content h5 {
  font-family: 'EireneSans-Bold';
  font-size: 24px;
}
.main-content b {
  font-family: 'EireneSans-Bold';
  font-size: 24px;
}
/*  
💻  desktop 💻
*/
@media screen and (min-width: 992px) {
  /* sidebar */
  .sidebar-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  /* .sidebar {
  height: 100%;
} */
  .sidebar-wrapper.collapsed {
    transform: translateX(-250px); /* Mover el sidebar hacia la izquierda */
    /* background-color: black; */
    pointer-events: none;
  }

  /* links */
  .link-view {
    text-align: left;
    min-width: 100%;
    font-weight: bold;
    cursor: pointer;
  }

  /* btn toogle */
  .navbar-toggler-btn {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  /* Estilos para pantallas extra small (menos de 576px) */
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Estilos para pantallas small (entre 576px y 768px) */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para pantallas medium (entre 768px y 992px) */
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* Estilos para pantallas large (entre 992px y 1200px) */
}
@media (min-width: 1400px) {
  /* Estilos para pantallas extra extra large (más de 1400px) */
}
