<div class="container hb">
	<div class="row justify-content-center align-items-center">
		<div class="wrapper d-flex align-items-center flex-column">
			<h5 class="mb-2">Arma la imagen correctamente antes de que se termine el tiempo ⏳.</h5>
			<div id="canvas" class=""></div>
			<!-- temporizador -->
			<div class="temp-wrapper d-none mt-3" style="color: white; font-weight: bold">
				<div class="d-flex justify-content-center">
					<div class="temporizador"></div>
				</div>
			</div>
		</div>
	</div>
</div>
